<!-- This container wraps our entire app in the sidenav content container. This allows the sidenav to take up the entire content area -->

<mat-sidenav-container class="app-content">
  <mat-sidenav
    #appSideNav
    [fixedInViewport]="viewportMobileQuery.matches"
    [mode]="viewportMobileQuery.matches ? 'over' : 'side'"
    [opened]="!viewportMobileQuery.matches"
  >
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <h1>Menu</h1>
        <span class="fill-space"></span>
        <button (click)="appSideNav.close()" *ngIf="viewportMobileQuery.matches" mat-icon-button>
          <mat-icon>arrow_back</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-nav-list>
      <!-- Set the `routerLink` on the `mat-list-item` that way it will route if any of the list items are clicked -->
      <mat-list-item routerLink="/">
        <mat-icon matListIcon>home</mat-icon>
        <a matline>Home</a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/accounts">
        <mat-icon matlisticon>account_balance</mat-icon>
        <a matline>Accounts</a>
      </mat-list-item>
      <mat-list-item routerLink="/accounts/create">
        <mat-icon matlisticon>add</mat-icon>
        <a matline>Create Account</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="main-content">
    <mat-toolbar class="main-toolbar" color="primary">
      <mat-toolbar-row>
        <button (click)="appSideNav.toggle()" *ngIf="viewportMobileQuery.matches" mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
        <h1 class="app-brand" routerLink="/">
          Bank Account Manager
        </h1>
      </mat-toolbar-row>
    </mat-toolbar>
    <main class="main-content-inner">
      <section class="content-area">
        <router-outlet></router-outlet>
      </section>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
